@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria: #27445D;
    --cor-secundaria: #EFE9D5;
    --cor-terciaria: #71BBB2;
    --cor-quarta: #497D74;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0; /*Esta propriedade define o espaçamento interno do elemento.*/
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria)
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}

.cabecalho_menu{
    display: flex;
    gap: 35px;
}

.cabecalho__1{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem; /*rem é a unidade de medida que usamos para que nosso Texto possa se ajustar a preferência de tamanho de texto do usuário ou aparelho*/
    font-weight: 600;
    color: var(--cor-terciaria);
}
   

.cabecalho__1:hover{
    color: var(--cor-quarta);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    margin: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex; /*Esta propriedade define que o elemento será um contêiner Flexbox, permitindo que seus elementos filhos sejam posicionados e alinhados de forma flexível.*/
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.apresentacao__links__subtitulo{
   font-family: var(--fonte-primaria); 
   font-weight: 300;
   font-size: 1.5rem;
}

.apresentacao__links__apresentacao{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 5px;
    border: 4px double var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__apresentacao:hover/*animaçaão do botão*/{
background-color: var(--cor-quarta);
}

.foto__tiago{
    width: 50%; /* Esta propriedade define a largura do elemento*/
    border-radius: 50%; /*Esta propriedade define a borda do elemento*/
    border: 15px double var(--cor-terciaria);
}

.footer/*Rodapé do da página*/{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 1.25rem;/*para definir o tamanho da fonte de um elemento*/
    font-weight: bold;
    margin: 100px;
    border-radius: 70px;
}

@media (max-width: 1170px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }


}